In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('ramen-ratings.csv')
print("Размер данных:", df.shape)
print("\nПервые 3 строки:")
print(df.head(3))
print("\nИнформация о данных:")
print(df.info())
df['Stars'] = pd.to_numeric(df['Stars'], errors='coerce')
print("\nПропущенные значения:")
print(df.isnull().sum())
df['Stars'] = df['Stars'].fillna(df['Stars'].mean())
df['Style'] = df['Style'].fillna('Unknown')
df['Top Ten'] = df['Top Ten'].fillna('No')
print("\nДубликаты до удаления:", df.duplicated().sum())
df = df.drop_duplicates()
print("Дубликаты после удаления:", df.duplicated().sum())
print("\nОсновная статистика:")
print(df['Stars'].describe())
print("\nКоличество по странам:")
print(df['Country'].value_counts().head(10))

Размер данных: (1970, 7)

Первые 3 строки:
  Review #      Brand                                            Variety  \
0     2580  New Touch                          T's Restaurant Tantanmen
1     2579   Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...
2     2578     Nissin                      Cup Noodles Chicken Vegetable

  Style Country Stars Top Ten
0   Cup   Japan  3.75     NaN
1  Pack  Taiwan     1     NaN
2   Cup     USA  2.25     NaN

Информация о данных:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1970 entries, 0 to 1969
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  1970 non-null   object
 1   Brand     1956 non-null   object
 2   Variety   1956 non-null   object
 3   Style     1955 non-null   object
 4   Country   1956 non-null   object
 5   Stars     1956 non-null   object
 6   Top Ten   30 non-null     object
dtypes: object(7)
memory usage: 107.9+ KB
None

Пропущенные значения:
Review #       0
Brand         14
Variety       14
Style         15
Country       14
Stars         17
Top Ten     1940
dtype: int64

Дубликаты до удаления: 0
Дубликаты после удаления: 0

Основная статистика:
count    1970.000000
mean        3.733065
std         1.010270
min         0.000000
25%         3.250000
50%         3.750000
75%         4.500000
max         5.000000
Name: Stars, dtype: float64

Количество по странам:
Country
Japan          281
USA            223
South Korea    192
Taiwan         177
Malaysia       149
Thailand       130
China          126
Hong Kong      125
Singapore      100
UK              65
Name: count, dtype: int64